<main>
    <header><br>Created on: {{dateCreated}}</header>
    <h1 id="deckName" class="deckName">{{deckName}}</h1>
    <h2 id="deckSubject" class="deckSubject">{{deckSubject}}</h2> <br>
    <div id="error2" class="error" hidden>{{errorMessage}}</div>
    <div class="card-page-content">
        <p class="create-card-p">Create a card</p>
        <form action="/yourpage/decks/{{id}}" method="POST" id="create-card-form" class="create-card-form">
            <label for="cardFrontInput">Front</label>
            <input id="cardFrontInput" type="text" name="cardFrontInput" class="cardFrontInput"><br>
            <label for="cardBackInput">Back</label>
            <textarea id="cardBackInput" rows="4" cols="38"></textarea> <br>
            <button type="submit">Add card</button>
        </form> <br><br>
        <div class="deck-page-column">
            <ol id="deck-list" class="card-list">
                {{#each card}}
                    <li><a href="{{../id}}/{{this.number}}"> {{this.front}} ||| {{this.back}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div id="error" class="error" hidden>{{errorMessage}}</div>
    <form action="/yourpage/decks/{{id}}" id="edit-deck-form" class="create-deck-form">
        <label for="decknameInput">Enter new deck name</label> <br>
        <input id="decknameInput" type="text" name="decknameInput"><br>
        <label for="decksubjectInput">Enter new deck subject</label> <br>
        <input id="decksubjectInput" type="text" name="decksubjectInput"> <br>
        <label for="isDeckPublic">Is this deck public?</label>
        {{#if public}}          <!-- if the deck is already public -->
            <input id="isDeckPublic" type="checkbox" name="isDeckPublic" checked>
        {{else}}
            <input id="isDeckPublic" type="checkbox" name="isDeckPublic">
        {{/if}}
        <br><button type="submit">Update deck</button>
    </form>
    <div id="error2" class="error" hidden>{{errorMessage}}</div>
    <footer>
        <nav>
            <div class="align-right">
                <button type="submit" class="delete-deck" id="delete-deck">Delete this deck</button>
            </div>
            <a href="/yourpage/decks">Back to your decks</a>
        </nav>
    </footer>
</main>